<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        {{>header}}
        <h1> {{welcomeTitle}}</h1>
        <p> {{screamIt welcomeMessage}}</p>
        {{>footer}}
    </body>
</html>