<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        {{>header}}
        <h1> We'll be right back</h1>
        <p> The site is currently under maintainence. Please visit later</p>
        {{>footer}}
    </body>
</html>