<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Home</title>
    </head>
    <body>
        {{>header}}
        <h1>Projects Page</h1>
        <p> Projects appear here</p>
        {{>footer}}
    </body>
</html>